<html class="layout-pf layout-pf-fixed">
<head>
    <!-- jQuery -->
    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PatternFly -->
    <link href="/static/bower/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="/static/bower/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
    <script src="/static/bower/patternfly/dist/js/patternfly.js"></script>
    <script src="/static/bower/patternfly/dist/js/patternfly-functions.js"></script>
    <!-- Fork me on Github ribbon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />

    <script src="/static/bower/c3/c3.min.js"></script>
    <script src="/static/bower/d3/d3.min.js"></script>
    <script src="/static/bower/matchHeight/dist/jquery.matchHeight-min.js"></script>

    {% block extra_head %}{% endblock %}
    <title>Tasks</title>
</head>

<body>
  <!-- top navigation -->
  <nav class="navbar navbar-pf-vertical">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img class="navbar-brand-icon" src="//assets/img/logo-alt.svg" alt=""/><img class="navbar-brand-name" src="//assets/img/brand-alt.svg" alt="Telch" />
      </a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-iconic">
        <li>
          <div class="text-muted">{% include 'commit.jinja2' %}</div>
        </li>
      </ul>
    </nav>
  </nav>

  <!-- left navigation sidebar -->
  <!-- <div class="nav-pf-vertical nav-pf-vertical-with-sub-menus">
    <ul class="list-group">
      <li class="list-group-item">
        <a>
          <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
          <span class="list-group-item-value">Dashboard</span>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
          <span class="list-group-item-value">Dolor</span>
        </a>
      </li>
      
      
    </ul>
  </div> -->

  <div class="container-fluid container-cards-pf container-pf-nav-pf-vertical">
    {% block content %}{% endblock %}
  </div>

      
</body>
<script>
  (function($) {
  $(document).ready(function() {
    // Upon clicking the find button, show the find dropdown content
    $(".btn-find").click(function () {
      $(this).parent().find(".find-pf-dropdown-container").toggle();
    });
    // Upon clicking the find close button, hide the find dropdown content
    $(".btn-find-close").click(function () {
      $(".find-pf-dropdown-container").hide();
    });

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
})(jQuery);
</script>

</html>
      
