<div class="col-sm-12">
  <form class="toolbar-pf-actions">
    <div class="form-group toolbar-pf-filter">
      <label class="sr-only" for="filter">Description</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button id='filter-substring' type="button" class="btn btn-default dropdown-toggle" data-selected='Description' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Description <span class="caret"></span></button>
          <ul id='filter-substring-ddown' class="dropdown-menu" aria-labelledby="filter-substring">
            <li data-value='description' class="selected"><a href="#">Description</a></li>
            <li data-value='project'><a href="#">Project</a></li>
            <li data-value='status'><a href="#">Status</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" id="filter-text" placeholder="Filter By ...">
      </div>
    </div>
    <div class="form-group">
      <div class="dropdown btn-group">
        <button id='filter-sortby' type="button" class="btn btn-default dropdown-toggle" data-selected='Urgency' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Urgency <span class="caret"></span></button>
        <ul class="dropdown-menu" data-field="sortby" aria-labelledby="filter-sortby">
          <li data-value='urgency' class="selected"><a href="#">Urgency</a></li>
          <li data-value='project'><a href="#">Project</a></li>
          <li data-value='priority'><a href="#">Priority</a></li>
          <li data-value='due'><a href="#">Due</a></li>
          <li data-value='modified'><a href="#">Last Modified</a></li>
        </ul>
      </div>
      <button id='filter-order' class="btn btn-link" data-field="order" data-selected='asc' type="button">
        <span class="fa"></span>
      </button>
    </div>
    <div class="form-group toolbar-pf-find">
      <button id='filter-search' class="btn btn-link btn-find" type="button">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </form>
  <div class="row toolbar-pf-results">
    <div class="col-sm-12">
      <h5 id='total'></h5>
      <span class="spinner spinner-inline spinner-xs" id="progress-spinner" class='invisible'></span>
      <p>Active filters:</p>
      <ul class="list-inline">
        {% for key, value in filters.items() %}
          <li>
            <span class="label label-info">
              {{ key|capitalize }}: {{ value|capitalize }}
              <a href="#" id="filter_close_{{key}}" class='filter-close'><span class="pficon pficon-close"></span></a>
            </span>
          </li>
        {% endfor %}
      </ul>
      <p><a href="#" id="filter-clear">Clear All Filters</a></p>
    </div>
  </div>
</div>

<script>
function send_filter_updates(){
  console.log('send_filter_updates+');
  filter_value_str = JSON.stringify(document.filter_value);
  console.log('filter_value: '+filter_value_str);
  document.sock.send(filter_value_str);
  console.log('send_filter_updates-');
}

$(document).ready(function () {
  $('.filter-close').click(function () {
    console.log('filter-close+');
    id = $(this).attr('id');
    console.log('id: '+id);
    parts = id.split('_');
    filter_name = parts[parts.length - 1];
    console.log('filter_name: '+filter_name);
    delete document.filter_value[filter_name];
    send_filter_updates();
    console.log('filter-close-');
  });

  $('#filter-clear').click(function(){
    document.filter_value = {};
    send_filter_updates();
  });

  $('.dropdown-menu > li').click(function(){
    console.log('dropdown-menu+');
    value = $(this).text();
    btn = $(this).parent().attr("aria-labelledby");
    console.log('Setting '+btn+' to '+value);
    $("#"+btn).html(value + ' <span class="caret"></span>');
    $(this).parent().children().removeClass('selected');
    $(this).addClass('selected');

    field = $(this).parent().attr('data-field');
    console.log('data field is '+field);
    if (field) {
      json_value = $(this).attr('data-value');
      console.log('json value is '+json_value);
      document.filter_value[field] = json_value;
      send_filter_updates();
    }
    console.log('dropdown-menu-');
  });

  $("#filter-order").click(function(){
    console.log('filter-order+');
    value = $(this).attr("data-selected");
    new_value = 'asc';
    if (value == 'asc') {
      new_value = 'desc';
    }
    $(this).attr("data-selected", new_value);

    $(this).children().removeClass('fa-sort-alpha-'+value);
    $(this).children().addClass('fa-sort-alpha-'+new_value);

    field = $(this).attr('data-field');
    document.filter_value[field] = new_value;
    send_filter_updates();
    console.log('filter-order-');
  });
 });
</script>
