<div class="col-sm-12">
  <form class="toolbar-pf-actions">
    <div class="form-group toolbar-pf-filter">
      <label class="sr-only" for="filter">Description</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button id='filter-substring' type="button" class="btn btn-default dropdown-toggle" data-selected='Description' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ labels[substring[0]] }} <span class="caret"></span></button>
          <ul id='filter-substring-ddown' class="dropdown-menu" aria-labelledby="filter-substring">
            {% for key in substring %}
            <li data-value='{{key}}' {%- if loop.first %}class="selected"{%-endif%}>
              <a href="#">{{ labels[key] }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <input type="text" class="form-control" id="filter-text" placeholder="Filter By ...">
      </div>
    </div>
    <div class="form-group">
      <div class="dropdown btn-group">
        <button id='filter-sortby' type="button" class="btn btn-default dropdown-toggle" data-selected='Urgency' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ labels[sort[0]] }} <span class="caret"></span></button>
        <ul class="dropdown-menu" data-field="sortby" aria-labelledby="filter-sortby">
            {% for key in sort %}
            <li data-value='{{key}}' {%- if loop.first %}class="selected"{%-endif%}>
              <a href="#">{{ labels[key] }}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
      <button id='filter-order' class="btn btn-link" data-field="order" data-selected='asc' type="button">
        <span class="fa"></span>
      </button>
    </div>
  </form>
  <div class="row toolbar-pf-results">
    <div class="col-sm-12">
      <h5 id='total'></h5>
      <span class="spinner spinner-inline spinner-xs" id="progress-spinner" class='invisible'></span>
      <p>Active filters:</p>
      <ul class="list-inline">
        {% for key, value in filters.items() %}
          <li>
            <span class="label label-info">
              {%- if key != 'substring' %}
              {{ labels[key] }}: {{ labels[value] if value in labels else value }}
              {%- else %}
                {% for subs_key, subs_value in value.items() %}
                  {{ labels[subs_key] }} contains "{{ subs_value }}"
                {% endfor %}
              {% endif %}
              <a href="#" id="filter_close_{{key}}" class='filter-close'><span class="pficon pficon-close"></span></a>
            </span>
          </li>
        {% endfor %}
      </ul>
      <p><a href="#" id="filter-clear">Clear</a></p>
    </div>
  </div>
</div>
