{% extends "base.jinja2" %}

{% block content %}

<!-- search bar -->
<div class="row toolbar-pf" id='filter_toolbar'>
</div>

<div class="list-group list-view-pf list-view-pf-view" id="tasks">
</div>


</div>
<script>
  document.ws_url = "{{ws_url}}";
</script>
{% endblock %}
