{% extends "base.jinja2" %}

{% block extra_head %}
<style>
  .invisible-pre {
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;
    margin: unset;
    white-space: pre-wrap;
  }
</style>
{% endblock %}

{% block content %}

<!-- search bar -->
<div class="row toolbar-pf" id='filter_toolbar'>
</div>

<div class="list-group list-view-pf list-view-pf-view" id="tasks">
</div>


</div>
<script>
  document.ws_url = "{{ws_url}}";
</script>
{% endblock %}
