<div class="list-group-item" id="{{ task.uuid }}">
  <div class="list-group-item-header">
    <div class="list-view-pf-expand">
      <span class="fa fa-angle-right"></span>
    </div>
    <!--       
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div> -->

    {% set priority_icon = "fa-minus text-muted" %}
    {% if task.priority == "H" %}
      {% set priority_icon = "fa-angle-double-up text-danger" %}
    {% elif task.priority == "M" %}
      {% set priority_icon = "fa-angle-up text-warning" %}
    {% elif task.priority == "L" %}
      {% set priority_icon = "fa-angle-down text-success" %}
    {% endif %}

    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa {{ priority_icon }} list-view-pf-icon-sm" tooltip="Priority: {{ task.priority }}"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            {{ task.project if task.project|e }}
          </div>
          <div class="list-group-item-text">
            <span class="badge" title="Urgency">{{ task.urgency }}</span>
            {{ task.description|e }}
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            {%- if task.githuburl %}
              {%- if task.githubtype == "pull_request" %}
                {%- set github_type = "PR #" %}
              {%- else %}
                {%- set github_type = "issue #" %}
              {%- endif %}
              <span class="fa fa-github list-view-pf-icon-sm"></span>
              <a href="{{ task.githuburl }}" target='_blank'>{{task.githubrepo}} {{github_type}}{{task.githubnumber}}</a>
            {%- endif %}

            {%- if task.jiraurl %}
              <span class="fa fa-bug list-view-pf-icon-sm"></span>
              <a href="{{ task.jiraurl }}" target='_blank'>{{task.jiraid}}</a>
            {%- endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item-container container-fluid hidden">
    <div class="row">
      <div class="col-md-5">
        <dl class="dl-horizontal dl-short">
          <dt>{{ labels['status'] }}</dt>
          <dd>{{ task.status }}</dd>

          {% if task.due %}
          <dt>{{ labels['due'] }}</dt>
          <dd>{{ task.due }}</dd>
          {% endif %}

          {% if task.entered %}
          <dt>{{ labels['entered'] }}</dt>
          <dd>{{ task.entered }}</dd>
          {% endif %}

          {% if task.wait %}
          <dt>{{ labels['wait'] }}</dt>
          <dd>{{ task.wait }}</dd>
          {% endif %}

          {% if task.scheduled %}
          <dt>{{ labels['scheduled'] }}</dt>
          <dd>{{ task.scheduled }}</dd>
          {% endif %}

          <dt>{{ labels['modified'] }}</dt>
          <dd>{{ task.modified }}</dd>

          {% if task.tags %}
            <dt>{{ labels['tags'] }}</dt>
            <dd><ul class="list-unstyled">
            {%- for tag in task.tags %}
              <li><span class="fa fa-tag"></span>&nbsp;{{tag}}</li>
            {%-endfor%}
            </ul>
          {% endif %}
        </dl>
        
      </div>
      <div class="col-md-7">
        <dl class="dl-horizontal">
        {% for annotation in task.annotations %}
          <dd>{{ annotation|urlize(40, target='_blank') }}</dd>
        {% endfor %}
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        {% if task.jiradescription %}
          {% set title,description = task.jirasummary,task.jiradescription %}
        {% elif task.githubbody %}
          {% set title,description = task.githubtitle,task.githubbody %}
        {% endif %}
        <strong>{{title}}</strong><br/>
        <pre class="invisible-pre">{{description|truncate(killwords=True)|e }}</pre>
      </div>
    </div>
  </div>
</div>
