.invisible-pre {
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;
    margin: unset;
    white-space: pre-wrap;
}

.telch-brand {
    padding: 9px 10px;
}

.navbar-button {
    background: transparent;
    border: 0;
    margin: 13px 15px;
    padding: 9px 10px;
    color: #9c9c9c;
}

.navbar-button-spinning {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.dl-short > dt {
    width: 100px;
}

.dl-short > dd {
    margin-left: 120px;
}
